<!-- <app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<div style="max-width: 1218px;min-height:85vh;margin: auto; box-shadow: 10px 2px 200px 10px #eee;">
  <div style="margin: 0%;">
    <section class="discussions">
      <div class="discussion message-active">
        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg)">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name"><b>Lorem Ipsum</b> liked your recent post</p>
        </div>
        <div class="timer">12 sec</div>
      </div>
    
      <div class="discussion">
        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name"><b>Lorem Ipsum</b> liked your recent post</p>
        </div>
        <div class="timer">3 min</div>
      </div>
    
      <div class="discussion">
        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
        </div>
        <div class="desc-contact">
          <p class="name"><b>Lorem Ipsum</b> liked your recent post</p>
        </div>
        <div class="timer">42 min</div>
      </div>
    
      <div class="discussion">
        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name"><b>Lorem Ipsum</b> liked your recent post</p>
        </div>
        <div class="timer">2 hour</div>
      </div>
    
      <div class="discussion">
        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
        </div>
        <div class="desc-contact">
          <p class="name"><b>Lorem Ipsum</b> liked your recent post</p>
        </div>
        <div class="timer">4 days</div>
      </div>
    
    </section>
  </div>
</div> -->
<div *ngFor="let item of notifications">
    <p>There is a new notification</p>
</div>
