.topNav {
    height: 30px;
    /* background-color:#141C3C; */
    color: aliceblue;
}
.topNav{
        max-width: 1350px;
            margin: auto;
}

.topNav ul {

    display: flex;
    justify-content: flex-end;
}

.topNav li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    list-style-type: none;
}

.fa {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: #121a36;
}

.fa-twitter {
    color: #121a36;
}

.fa-linkedin {
    color: #121a36;
}

.fa-instagram {
    color: #121a36;
}

@media screen and (max-width: 600px) {

    .details{
        display: none;
    }


}