<div class="topNav" style="display: flex;justify-content: space-between;">
    <div class="details" style="display: flex;padding-top: 5px;">
        <div style="display: flex;">
            <a href="#" class="fa fa-phone-square" style="padding-left: 20px;padding-top: 4px;color:#121a36;"></a>
            <p style="color: #121a36;padding-left: 10px;"> +2771 234 5678</p>
        </div>
        <div style="display: flex;">
            <a href="#" class="fa fa-envelope" style="padding-left: 20px;padding-top: 4px;color: #121a36;"></a>
            <p style="color: #121a36;padding-left: 10px;"> info@myschool.com</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="#" class="fa fa-facebook"></a>
        </li>
        <li>
            <a href="#" class="fa fa-linkedin"></a>
        </li>
        <li>
            <a href="#" class="fa fa-instagram"></a>
        </li>
        <li>
            <a href="#" class="fa fa-twitter"></a>
        </li>
    </ul>
</div>
