<div class="footer" style="background-color: #121a36" id="footer">
    <div style="margin: auto;max-width: 1000px;">
        <!-- <h1 style="text-align: center;padding-top:50px;color:#212121;">LOGO</h1> -->
        <br>
        <!-- <div style="max-width: 250px;max-height: 250px; margin: auto;">
      <img src="assets/logo/logo.png" style="width: 100%;">
    </div> -->
        <!-- <br> -->
        <hr>
        <div class="footer-items">
            <div>
                <h2>CONTACT US</h2>
                <p>Email: info@myschool.com</p>
                <!-- <p>Phone: +1 (123) 456-7890</p> -->
                <p>Address: 123 Main Street, City, State, ZIP</p>
            </div>
            <div>
                <h2>COMPANY</h2>
                <!-- <p>Home</p> -->
                <p>What we do ?</p>
                <p>How we do it ?</p>
                <p>Who we are ?</p>
            </div>
            <div>
                <h2>LEGAL</h2>
                <p>FAQ's</p>
                <p>Terms and Services</p>
                <p>Privacy Policy</p>
                <!-- <p>Complaince</p> -->
            </div>
            <div style="display: flex;flex-direction: column;">
                <h2>SOCIALS</h2>
                <div style="display: flex;justify-content: space-between;width: 150px;">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                <div class="button" style="padding-top: 20px;">
                    <!-- <button class="arrow-button" style="padding:10px; background-color: #ddd;color: orange;border-radius: 5px; width: 100%;height: 50px;font-size: 22px;border:none">Book a Call<span class="arrow"></span>
            </button> --></div>
                <!-- <a href="">Instagram</a>
          <a href="">Whatsapp</a>
          <a href="">YouTube</a>
          <a href=" ">Linkedin</a> -->
            </div>
            <div>
                <!-- <h2 style="text-align: center;padding-top:50px;color:#212121;">content</h2> -->
                <!-- <div style="max-width: 150px;max-height: 150px;padding-top: 20px;">
            <img src="assets/logo/logo.png" style="width: 100%;">
          </div> --></div>
        </div>
        <hr>
        <p style="color:#eee;padding-bottom: 10px;text-align: center;">  Copyright &copy; MySchool. All rights reserved.</p>
    </div>
</div>
