<app-pagetiltle title="ANNOUNCEMENTS" [breadcrumbItems]="breadCrumbItems"></app-pagetiltle>
<!-- <br> -->
<div style="background-color: #121a36;">
    <div class="container" style="max-width: 1218px;min-height:85vh;margin: auto; ;">
        <div class="inbox">
            <section class="discussions">
                <!-- <div class="discussion search" style="height: 55px;">
          <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search..."/>
          </div>
        </div> -->
                <a routerLink="/chat">
                    <div class="discussion message-active">
                        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg)">
                            <div class="online"></div>
                        </div>
                        <div class="desc-contact">
                            <p class="name">
                                <b>Lorem Ipsum</b>
                            </p>
                            <p class="message">9 pm at the bar if possible 😳</p>
                        </div>
                        <!-- <div class="timer">12 sec</div> -->
                    </div>
                </a>
                <a routerLink="/chat">
                    <div class="discussion">
                        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
                            <div class="online"></div>
                        </div>
                        <div class="desc-contact">
                            <p class="name">
                                <b>Lorem Ipsum</b>
                            </p>
                            <p class="message">Let's meet for a coffee or something today ?</p>
                        </div>
                        <!-- <div class="timer">3 min</div> -->
                    </div>
                </a>
                <a routerLink="/chat">
                    <div class="discussion">
                        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);"></div>
                        <div class="desc-contact">
                            <p class="name">
                                <b>Lorem Ipsum</b>
                            </p>
                            <p class="message">I've sent you the annual report</p>
                        </div>
                        <!-- <div class="timer">42 min</div> -->
                    </div>
                </a>
                <a routerLink="/chat">
                    <div class="discussion">
                        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);">
                            <div class="online"></div>
                        </div>
                        <div class="desc-contact">
                            <p class="name">
                                <b>Lorem Ipsum</b>
                            </p>
                            <p class="message">See you tomorrow ! 🙂</p>
                        </div>
                        <!-- <div class="timer">2 hour</div> -->
                    </div>
                </a>
                <a routerLink="/chat">
                    <div class="discussion">
                        <a></a>
                        <div class="photo" style="background-image: url(https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg);"></div>
                        <div class="desc-contact">
                            <p class="name">
                                <b>Lorem Ipsum</b>
                            </p>
                            <p class="message">Ahahah 😂</p>
                        </div>
                        <!-- <div class="timer">4 days</div> -->
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>
