<app-pagetiltle
  title="ABOUT"
  [breadcrumbItems]="breadCrumbItems"
></app-pagetiltle>
<div class="about-section">
  <div class="about-heading" style="max-width: 1100px; margin: auto">
    <div
      class="about-flex"
      style="display: flex; justify-content: space-between"
    >
      <div class="about-section2">
        <img src="assets/backgrounds/6.png" style="width: 100%" />
      </div>
      <div class="about-section2">
        <br />
        <br />

        <h3
          style="
            padding-top: 20px;
            text-transform: uppercase;
            color: #121a36;
            font-size: 25px;
            text-align: left;
            font-weight: 700;
          "
        >
          Welcome to our website !
        </h3>
        <br />
        <br />
        <br />
        <p
          style="
            padding: 20px;
            max-width: 450px;
            line-height: 1.4;
            font-size: 14px;
            border-left: 5px solid #121a36;
            text-align: left;
            color: #121a36;
          "
        >
          Our goal is to make learning accessible and engaging for everyone,
          whether you are a student looking to improve your academic skills or
          an adult seeking to enhance your knowledge and career prospects. We
          understand that every student has their own unique learning style and
          pace, which is why we offer a wide range of courses and resources to
          cater to individual needs.
        </p>
      </div>
    </div>
    <!-- <h1 style="text-align: left;padding-left: 10px;text-transform: uppercase;">About Us</h1>
        <br>
        <p style="text-align: left;padding-left: 10px;">Welcome to our  website!</p>
        <p style="text-align: left;padding-left: 10px;">Our goal is to make learning accessible and engaging for everyone, whether you are a student looking to improve your academic skills or an adult seeking to enhance your knowledge and career prospects.</p> -->
  </div>
</div>
<div class="about" style="background-color: #121a36">
  <div class="about1" style="max-width: 1250px; margin: auto">
    <div
      class="about-content1 bg-light"
      style="padding-top: 100px; border-radius: 15px"
    >
      <h1>Welcome to our school learning website!</h1>
      <!-- <p>We are a team of educators and professionals who are dedicated to providing high-quality education to students of all ages and backgrounds. Welcome to our school learning website! We are a team of educators and professionals who are dedicated
                to providing high-quality education to students of all ages and backgrounds. Our goal is to make learning accessible and engaging for everyone, whether you are a student looking to improve your academic skills or an adult seeking to enhance
                your knowledge and career prospects. We understand that every student has their own unique learning style and pace, which is why we offer a wide range of courses and resources to cater to individual needs. Our curriculum is designed to
                be both rigorous and comprehensive, ensuring that students acquire a deep understanding of the subject matter. Our team consists of experienced and passionate educators who are committed to helping students achieve their full potential.
                We believe that every student has the ability to excel and we strive to create a supportive learning environment where they can thrive. At our school learning website, we are constantly updating and improving our courses and resources
                to stay current with the latest trends and developments in education.</p> -->
    </div>
    <div class="about-content2">
      <fa-icon [icon]="faUsers"></fa-icon>
      <p>
        At our school learning website, we are constantly updating and improving
        our courses and resources to stay current with the latest trends and
        developments in education. Our aim is to equip students with the
        knowledge and skills they need to succeed in today's fast-paced
        world.Our aim is to equip students with the knowledge and skills they
        need to succeed in today's fast-paced world.Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.
      </p>
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
    </div>
  </div>
</div>
<div class="about" style="background-color: #141c3c">
  <div class="about1" style="max-width: 1250px; margin: auto">
    <div class="about-content2">
      <p>
        At our school learning website, we are constantly updating and improving
        our courses and resources to stay current with the latest trends and
        developments in education. Our aim is to equip students with the
        knowledge and skills they need to succeed in today's fast-paced
        world.Our aim is to equip students with the knowledge and skills they
        need to succeed in today's fast-paced world.
      </p>
      <fa-icon [icon]="faAddressCard"></fa-icon>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div
      class="about-content1"
      style="background-color: #fff; border-radius: 15px"
    >
      <h1>
        Our aim is to equip students with the knowledge and skills they need to
        succeed in today's fast-paced world.
      </h1>
      <!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumWe are a team of educators and professionals who are dedicated to providing high-quality education to students of all ages and backgrounds. Welcome to our school learning website! We are a team of educators and professionals who are dedicated
                to providing high-quality education to students of all ages and backgrounds. Our goal is to make learning accessible and engaging for everyone, whether you are a student looking to improve your academic skills or an adult seeking to enhance
                your knowledge and career prospects. We understand that every student has their own unique learning style and pace, which is why we offer a wide range of courses and resources to cater to individual needs. Our curriculum is designed to
                be both rigorous and comprehensive, ensuring that students acquire a deep understanding of the subject matter. Our team consists of experienced and passionate educators who are committed to helping students achieve their full potential.
                We believe that every student has the ability to excel and we strive to create a supportive learning environment where they can thrive. At our school learning website, we are constantly updating and improving our courses and resources
                to stay current with the latest trends and developments in education.</p> -->
    </div>
  </div>
</div>
<div class="our-team">
  <h1
    style="
      text-align: center;
      color: #141c3c;
      padding: 30px;
      font-weight: 800;
      font-size: 40px;
      text-transform: uppercase;
    "
  >
    Our Team
  </h1>
  <hr
    style="
      border: 1px solid #141c3c;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1000px;
      margin: auto;
    "
  />
  <br />
  <br />
  <div class="row" style="max-width: 1080px; margin: auto; color: white">
    <div class="column">
      <div class="card">
        <div style="height: 280px; text-align: center; padding-top: 60px">
          <div
            style="
              width: 170px;
              height: 170px;
              margin-top: 40px;
              background-color: #ccc;
              border-radius: 50%;
              margin: auto;
            "
          >
            <img
              src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
              style="width: 100%; height: 100%; border-radius: 50%"
            />
          </div>
        </div>
        <div class="container">
          <h2>Mafadi Lephaka</h2>
          <p class="title">CEO & Founder</p>
          <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div style="height: 280px; text-align: center; padding-top: 60px">
          <div
            style="
              width: 170px;
              height: 170px;
              margin-top: 40px;
              background-color: #ccc;
              border-radius: 50%;
              margin: auto;
            "
          >
            <img
              src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
              style="width: 100%; height: 100%; border-radius: 50%"
            />
          </div>
        </div>
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Marketing</p>
          <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div style="height: 280px; text-align: center; padding-top: 60px">
          <div
            style="
              width: 170px;
              height: 170px;
              margin-top: 40px;
              background-color: #ccc;
              border-radius: 50%;
              margin: auto;
            "
          >
            <img
              src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg"
              style="width: 100%; height: 100%; border-radius: 50%"
            />
          </div>
        </div>
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Software Engineer</p>
          <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr
    style="
      border: 1px solid #141c3c;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1000px;
      margin: auto;
    "
  />
  <br />
</div>
<app-footer></app-footer>
