<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>Sign Up</h2>
      <p>
        Ready to join the MySchool community? Signing up opens the door to a
        plethora of educational opportunities tailored to your needs and
        interests. Whether you're seeking to expand your knowledge, connect with
        fellow learners, or explore new academic horizons
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Sign In</h2>
      <p>
        Welcome back to the MySchool community! We're thrilled to have you
        rejoin us as we continue our collective educational journey. Signing in
        to your MySchool account reconnects you with a wealth of learning
        resources, interactive tools, and a supportive community of fellow
        learners and educators.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Create a Forum</h2>
      <p>
        Ignite intellectual curiosity and foster a culture of collaborative
        learning with MySchool's vibrant forum feature. Dive into stimulating
        academic discussions, where you can explore diverse perspectives,
        exchange insights, and delve into the depths of your chosen subjects.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Comment and reply</h2>
      <p>
        Immerse yourself in the vibrant world of academic discourse and
        collaborative learning on MySchool's dynamic commenting platform. Here,
        you'll find a bustling community of passionate learners eager to share
        insights, exchange ideas, and engage in meaningful discussions on a wide
        range of academic topics.
      </p>
    </div>
  </div>
</div>
